## Introduction

In [1]:
# Data Types used in Python Programming 
#single line Comment 

''' 
1. int : Integer
2. Float : Decimal Values
3. String : Text Information
4. Boolean : True or False // multi line comments
'''
# Data Type Definition
# = : this is Assignment operator always used assign in every values 
num = 100
# num is a variable 100 is a value.  i.e n = 10 , a=12
num1 = 100.345 
str = 'Hello world'
boolean = True
boolean1 = False
# Que. What are the different Data types in Python 
# PCEP certificate basic

In [2]:
print (num)
# print num value

100

In [3]:
print ('num')
# print as it is string letter num

num

In [5]:
num + num1
# int + int = integer add value
# '1234' + '2345' = concatenate values i.e print 1234587 in string values always concate

200.345

In [8]:
a ='1234'
b = '6789'
c = 2
print (a+b)
# print values concate in string 
# int + str = error string always with number print always error 
# string 
print(a*c) # one number and string values multiply with they no like a ='1234' and c=2 2 tyms print value
print (a+c)

12346789
12341234

TypeError: can only concatenate str (not "int") to str

In [9]:
# Input function 
num1 = input('Enter 1st number : ')
num2 = input ('Enter 2nd Number: ')

print(num1 + num2)

2060

In [10]:
# Input function 
# typecasting : converting string to integer 
# float allow int and float values to user and int only allow int value and get error when float values enter
num1 = float(input('Enter 1st number : '))
num2 = float(input ('Enter 2nd Number: '))

print(num1 + num2)

83.0

In [11]:
#f string method  formated string combination of numbers + text which is input enter
name = input('Enter the name : ')
age = float (input('enter the age in years : '))

print (f' The Entered name of the Person is {name} having age is {age}')

 The Entered name of the Person is Vaibhu having age is 23.0

In [ ]:
# enter users in